
.form{
    width: 100vw;
    display: flex;
    justify-content: center;
    .menu{
        width: 50vw;
       display: flex;
       justify-content: space-between;

        }
        .container-button{
            button{
                width: 5vw;
                height: 2.5vh;
                background-color: gray;
                font-size: 14px;
                font-weight: bold;
            }
            display: flex;
            justify-content: space-around;
            margin-top:3vh;

        }

}