<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="form" (submit)='precioTotal()'>
  <ion-list>
    <ion-label>Menu</ion-label>
      <ion-item class='menu' *ngFor="let item of menu">
         
            <ion-label>{{item.PlateName}}</ion-label>
         
         
            <ion-input (click)='precioTotal()' class="amount" type='number' value='{{item.Amount}}' [(ngModel)]="menu[item.CategoryId -1].Amount" [ngModelOptions]="{standalone: true}"></ion-input>
         
         
            <ion-label>Price : {{item.Price * item.Amount | number: '2.2-2'}} €</ion-label>
         
      
       
        </ion-item>
        <div class="container-button">
          <!-- <button>Tab</button> -->
          <ion-label>{{price_Total | number: '2.2-2'}} €</ion-label>

        </div>
      
    </ion-list>
    </form>

 
</ion-content>
